.reactVideo {
    position:relative;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.castContainer {
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    bottom: 120px;
    left: 0;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 16px;
}

@media screen and (max-width:1275px) {
    .castContainer {
        bottom: 70px;
    }
}

.fadeOut {
    opacity: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.castContainer article{
    margin: 2em;
}

.cast {
    display: flex;
}
.castDetails {
    margin:1em;
}

.castImage {
    width:100px;
    height:100px;
    border-radius:8px;
}

h2 {
    font-size:.75em;
    text-align: center;
}