.reactVideo {
    position:relative;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.displayBox {
    background-color: rgba(0,0,0, 0.7);
    border-radius: 16px;
    margin-left: 2em;
    margin-right: 2em;
    width: fit-content;
}

.castContainer {

    position: absolute;
    bottom: 120px;
    left: 0;
    color: white;
    pointer-events: none;
}

@media screen and (max-width:1275px) {
    .castContainer {
        bottom: 70px;
    }
}

.fadeOut {
    opacity: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.castContainer article{
    margin: 1em 2em;
    padding: 1em;
    pointer-events: initial;
}

.cast {
    display: flex;
    pointer-events: initial;
}
.castDetails {
    margin:1em;
    cursor: pointer;
}

.castImage {
    width:100px;
    height:100px;
    border-radius:8px;
}

h2 {
    font-size:.75em;
    text-align: center;
}

.closeButton{
    position: absolute;
    top: 1.2em;
    right: 2.2em;
    width: 32px;
    cursor: pointer;
}